<!DOCTYPE html>
<html>
  <head>
    <title>SkumMaster BeerRating WebApp</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="normalize.css" />
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>

  <body id="PageBody">
    <div id="BodyContent">
      <div id="ContentLeft">
        <div id="Menu">
          MENU
        </div>
        <div id="Latest">
          LATEST
        </div>
      </div>
      <div id="ContentRight">
        <div id="SearchHeader">
          <div id="Search">
            SEARCH
          </div>
          <div id="SearchButtons">
            BUTTONS GOES HERE
          </div>
          <div id="SearchResult">
            RESULTS
          </div>
        </div>
      </div>
    </div>
    <div id="BodyFooter">
      Copyright SkumMasters of the Universe 2019
    </div>
  </body>
</html>
