<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Search Result</title>
  <link rel="stylesheet" type="text/css" href="/normalize.css" />
  <link rel="stylesheet" type="text/css" href="/style.css" />
</head>

<body id="PageBody">
  <div id="BodyContent">
    <div id="ContentLeft">
      <div id="Menu">
        <div th:fragment="topleft">
          <img id="MenuImg" src="/anon.png" width="30%" />
          <br>
          <span id="MenuSpan" th:text="${session.user.username}"></span>
          <br>
          <a href="/profile" class="button">My Profile</a>
          <br>
          <a href="/logout" class="button">Logout</a>
        </div>
      </div>
      <div id="Latest">
        <img src="/beermug_small.png"/>
      </div>
    </div>
    <div class="ContentRight">
      <div
      class="feedgrabbr_widget" id="fgid_785ffe07d0a2c01a7427936c1" >
      </div>
      <script>
          if (typeof fg_widgets === "undefined") fg_widgets = new Array();
          fg_widgets.push("fgid_785ffe07d0a2c01a7427936c1");
      </script>
    <script
       async
       src="https://www.feedgrabbr.com/widget/fgwidget.js"
    ></script>
      <form action="/result/1" method="post">
        <input type="text" style="width: 400px;" name="search" placeholder="Find your favorite Beer or Brewery">
        <input type="submit" value="GO!">
      </form>
  </div>
</div>

  <div id="BodyFooter">
    Copyright SkumMasters of the Universe 2019
  </div>

</body>
</html>