<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" />

    <title>Title</title>
  </head>
  <body id="LoginBody">
    <img src="/beermug.png" width="25%" />
    <div style="display: flex; justify-content: center;">

      <form action="login" method="post">
        <input type="text" name="username" placeholder="Username" />
        <input type="password" name="password" placeholder="Password" />
        <input type="submit" value="Login" />
      </form>

      <form style="margin-left: 3px;" action="adduser" method="post">
        <input type="submit" value="New User" />
       </form>

    </div>
  </body>
</html>
