<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Search Result</title>
    <link rel="stylesheet" type="text/css" href="/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
</head>
<body id="PageBody">
<div id="BodyContent">
    <div id="ContentLeft">
        <div id="Menu">
            <div th:replace="index :: topleft"/>
            <form th:replace="searchResult :: smallsearch">
            </form>
        </div>
        <div id="Latest">
            <img src="/beermug_small.png"/>
        </div>
    </div>
    <div class="ContentRight" id="ContentRightProfile">
        <div id="profileStats">
            <img src="/anon.png" width="90px" height="90px">
            <table>
                <tr>
                    <th>Total</th>
                    <th>Unique</th>
                </tr>
                <tr>
                    <td><span class="numberSquare" th:text="${session.totalNum}"></span></td>
                    <td><span class="numberSquare" th:text="${session.uniqueNum}"></span></td>
                </tr>
            </table>


        </div>
        <div id="userHistory">
            <h2>Remember your last ten Beers?</h2>
            <p th:each="beer : ${session.lastTen}" th:text="${beer.name}"></p>
        </div>
    </div>
</div>

<div id="BodyFooter">
    Copyright SkumMasters of the Universe 2019
</div>

</body>
</html>