<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Search Result</title>
    <link rel="stylesheet" type="text/css" href="/styleIM.css">
</head>
<body>

<form action="/1" method="POST">
    <input type="text" name="search"/>
    <input type="submit" value="SEARCH"/>
</form>

<div th:if="${!beerList.empty}">
<ul id="beerInfo" th:each="Beer : ${beerList}">

    <li th:text="${Beer.name}"></li>
    <li th:text="${Beer.brewery}"></li>
    <li th:text="${Beer.style}"></li>
    <li th:text="${Beer.alcohol} + ' %' "></li>
    <li th:text="${Beer.description}"></li>

</ul>

<div id="navBar">

    <a th:if="${currentPage != 1}" th:href="'/' +${currentPage-1}">Previous page</a>


    <span th:each="page : ${#numbers.sequence(1, numberOfPages)}">
      <a th:if="${page != currentPage}"  th:href="'/' + ${page}"><span th:text="${page} "></span></a>
      <span id ="currentPage" th:if="${page == currentPage} and ${numberOfPages != 1}"  th:text="${page}"></span>
</span>

    <a th:if="${currentPage != numberOfPages}" th:href="'/' + ${currentPage+1}">Next page</a>

</div>
</div>

<p th:if="${beerList.empty}">
    Something went wrong, please try again!
</p>

</body>
</html>