<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Search Result</title>
    <link rel="stylesheet" type="text/css" href="/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" />

</head>
<body id="PageBody">
<div id="BodyContent">
    <div id="ContentLeft">
        <div id="Menu">
            <div th:replace="index :: topleft"/>
            <form action="/result/1" method="post" th:fragment="smallsearch" id="SmallSearch">
                <input type="text" style="width: 150px;" name="search" placeholder="Search...">
                <input type="submit" value="GO!">
            </form>
        </div>
        <a href="/index" class="backToIndex">
            <div id="Latest">
                <img src="/beermug_small.png"/>
                <figcaption>← GO HOME</figcaption>
            </div>
        </a>
    </div>
    <div class="ContentRight">

        <div th:if="${!beerList.empty}">

            <table class="beerTable">

                <div class="beerInfo" th:each="Beer : ${beerList}">
                <tr>
                    <th class="thImages">
                        <img th:src="${Beer.imgUrl}" alt="Picture of a beer" height="120px" width="70px">
                    </th>

                    <th class="thBeerinfo">

                        <p class="name_brewery">[[${Beer.name}]] <span class="spanBrewery">   [[${Beer.brewery}]]</span></p>
                        <p class="style_alcohol">[[${Beer.style}]] <span class="spanAlcohol"> ([[${Beer.alcohol}]]%)</span></p>
                        <p class="description" th:text="${Beer.description}"></p>

<!--                        <p th:text="${Beer.name}" class="beername"></p>-->
<!--                        <p th:text="${Beer.brewery}" class="brewery"></p>-->
<!--                        <p th:text="${Beer.style}" class="beerstyle"></p>-->
<!--                        <p th:text="' ' + '(' + ${Beer.alcohol} + ' %)' " class="alcohol"></p>-->
<!--                        <p th:text="${Beer.description}" class="description"></p>-->
                    </th>

                    <th class="thRating">
                        <form th:action="@{'/result/' + ${page} + '/' + ${Beer.id}}" method="post" class="rating">

                            <input type="submit" th:id="'star5id' + ${Beer.id}" name="beerRating" th:value="5" /><label class = "full" th:for="'star5id' + ${Beer.id}" title="Awesome - 5 stars"></label>

                            <input type="submit" th:id="'star4id' + ${Beer.id}" name="beerRating" th:value="4" /><label class = "full" th:for="'star4id' + ${Beer.id}" title="Pretty good - 4 stars"></label>

                            <input type="submit" th:id="'star3id' + ${Beer.id}" name="beerRating" th:value="3" /><label class = "full" th:for="'star3id' + ${Beer.id}" title="Meh - 3 stars"></label>

                            <input type="submit" th:id="'star2id' + ${Beer.id}" name="beerRating" th:value="2" /><label class = "full" th:for="'star2id' + ${Beer.id}" title="Kinda bad - 2 stars"></label>

                            <input type="submit" th:id="'star1id' + ${Beer.id}" name="beerRating" th:value="1" /><label class = "full" th:for="'star1id' + ${Beer.id}" title="Sucks big time - 1 star"></label>

                        </form>

                    </th>

                    </div>

                </tr>
            </table>


                <div id="navBar">

                <a th:if="${currentPage != 1}" th:href="'/result/' +${currentPage-1}">Previous page</a>


                <span th:each="page : ${#numbers.sequence(1, numberOfPages)}">
      <a th:if="${page != currentPage}"  th:href="'/result/' + ${page}"><span th:text="${page} "></span></a>
      <span id ="currentPage" th:if="${page == currentPage} and ${numberOfPages != 1}"  th:text="${page}"></span>
</span>

                <a th:if="${currentPage != numberOfPages}" th:href="'/result/' + ${currentPage+1}">Next page</a>

            </div>
        </div>

        <p th:if="${beerList.empty}">
            Something went wrong, please try again!
        </p>


    </div>
</div>

<div id="BodyFooter">
    Copyright SkumMasters of the Universe 2019
</div>

</body>
</html>
