<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Search Result</title>
    <link rel="stylesheet" type="text/css" href="/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
</head>
<body id="PageBody">
<div id="BodyContent">
    <div id="ContentLeft">
        <div id="Menu">
            <div th:replace="index :: topleft"/>
            <form th:replace="searchResult :: smallsearch">
            </form>
        </div>
        <a href="/index" class="backToIndex">
            <div id="Latest">
                <img src="/beermug_small.png"/>
                <figcaption>← GO HOME</figcaption>
            </div>
        </a>
    </div>
    <div class="ContentRight" id="ContentRightProfile">

        <div id="userHistory">
            <h2>Our users top 5 beers!</h2>
            <p th:each="beer : ${session.lastTen}" th:text="${beer.name}"></p>
        </div>
    </div>
</div>

<div id="BodyFooter">
    Copyright SkumMasters of the Universe 2019
</div>

</body>
</html>